<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet"th:href="@{/static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{/static/css/common.css}" />
    <link rel="stylesheet" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" th:href="@{/static/css/cart.css}" />
    <link rel="stylesheet" th:href="@{/static/css/bookManger.css}" />
    <link rel="stylesheet" th:href="@{/static/css/register.css}" />
    <link rel="stylesheet" th:href="@{/static/css/book_edit.css}" />
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <a href="../../../index.html">
            <img src="../../static/img/logo2.gif" alt=""
          /></a>
          <h1>编辑商品</h1>
        </div>
        <div class="header-right">
          <a href="book_manager.html" class="order">商品管理</a>
          <a href="order_manager.html" class="destory">订单管理</a>
          <a th:href="@{/product/1}" class="gohome">返回商城</a>
        </div>
      </div>
    </div>
    <div class="login_banner" id="app">
      <div class="register_form">
        <form th:action="@{/product/addproduct}" id="form1">
          <div class="form-item">
            <div >
              <label>名称:</label>
              <input name="productName" type="text" placeholder="请输入名称" />
            </div>
            <span class="errMess" style="visibility: visible;">请输入正确的名称</span
            >
          </div>
          <div class="form-item">
            <div>
              <label>价格:</label>
              <input name="price" type="number" placeholder="请输入价格" />
            </div>
            <span class="errMess">请输入正确数字</span>
          </div>
          <div class="form-item">
            <div align="center">
              <label>分类:</label>
<!--              <input name="categoryId" type="text" placeholder="请输入作者" />-->
              <div style="height:25px;width:75px; border-radius: 6px; background-color:#6c6c6c; box-shadow:0 3px 2px 1px #6c6c6c;position: relative;margin-right:185px;" >
                <select name="categoryId"style="border: none;outline: none;width: 73px;height: 23px;border-radius: 6px;background-color: #f1eded;padding-left: 6px;align-content: center;">
                  <option value="1006">
                    手机
                  </option>
                  <option value="1005">冰箱</option>
                  <option value="1007">上衣</option>
                  <option value="1008" style="border-radius: 0 0 6px 6px;">饼干</option>
                </select>
              </div>
            </div>
<!--            <span class="errMess">请输入正确作者</span>-->
          </div>
          <div class="form-item">
            <div>
              <label>图片:</label>
<!--              <input name="productImg" type="text" placeholder="请输入名称" />-->
<!--              <a th:href="@{/upload/up}">-->
              <from  method="post" enctype="multipart/form-data">
                <!--              <from  @click="up" method="post" enctype="multipart/form-data">-->
                <input name="productImg" type="file"/>
                <!--                <input name="productImg" type="file"/>-->
                <!--                <input type="submit" value="上传" @onclick="upload()"/>-->

              </from>
<!--              <form th:action="@{/test/up}" method="post" enctype="multipart/form-data">-->
<!--                头像：<input type="file" name="photo"><br>-->
<!--                <input type="submit" value="上传">-->

<!--              </form>-->
            </div>
            <span class="errMess">请输入正确销量</span>
          </div>
          <div class="form-item">
            <div align="center">
              <label>商家:</label>
<!--              <input name="storeId" type="text" placeholder="请输入名称" />-->
<!--              <div style="height:25px;width:75px; border-radius: 6px; background-color:#6c6c6c; box-shadow:0 3px 2px 1px #6c6c6c;position: relative;margin-right:185px;" >-->
<!--                  <select name="storeId" style="border: none;outline: none;width: 73px;height: 23px;border-radius: 6px;background-color: #f1eded;padding-left: 6px;align-content: center;">-->
<!--                    <option value="1">iphone手机商</option>-->
<!--                    <option value="2">三只松鼠</option>-->
<!--                    <option value="3">森马</option>-->
<!--                    <option value="4">海尔</option>-->
<!--                    <option value="5">小米</option>-->
<!--                    <option value="6">华为</option>-->
<!--                  </select>-->
<!--              </div>-->
              <div style="height:25px;width:75px; border-radius: 6px; background-color:#6c6c6c; box-shadow:0 3px 2px 1px #6c6c6c;position: relative;margin-right:185px;" >
                  <select name="storeId">
                    <option value="1">iphone手机商</option>
                    <option value="2">三只松鼠</option>
                    <option value="3">森马</option>
                    <option value="4">海尔</option>
                    <option value="5">小米</option>
                    <option value="6">华为</option>
                  </select>
              </div>
            </div>
            <span class="errMess">请输入正确</span>
          </div>
          <div class="form-item">
            <div>
              <label>库存:</label>
              <input name="stock" type="number" placeholder="请输入库存" />
            </div>
            <span class="errMess">请输入正确库存</span>
          </div>
            <input type="submit" value="提交">

        </form>
      </div>
    </div>

<!--    <div class="bottom">-->
      尚硅谷书城.Copyright ©2015
    </div>
    <script type="text/javascript" th:src="@{/static/script/vue.js}"></script>
    <script type="text/javascript" th:src="@{/static/script/axios.min.js}"></script>
  <script type="text/javascript">
         // function upload(){
         //   document.getElementById("form2").submit();
         // }
         // function submitform(){
         //   document.getElementById("form1").submit();
         // }
        var vue = new Vue({
          el:"#app",
          method:{
                 upload(){
                   var form = document.getElementsByTagName("form")[1];
                   form.action = event.target.href;
                   form.submit();
                   //阻止超链接的默认跳转行为
                   event.preventDefault();
                   // axios.post(
                   //       "/upload/up",
                   //
                   // ).then(response=>{
                   //   console.log(response.data);
                   // });
                 }
          }
        })
  </script>
  </body>
</html>
